@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 36px;
        --font_size_title_mini: 30px;
    }


    .tablet_hide
    {
        display: block !important;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .item .head
    {
        padding: 20px 52px 20px 0;
    }


    .accordion .item .title
    {
        font-size: 16px;
        line-height: 20px;
    }

    .accordion .item .icon
    {
        right: 16px;
    }


    .accordion .item .data
    {
        font-size: 14px;

        padding-right: 0;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding-bottom: 8px;
    }


    .mob_header .logo,
    .mob_header .logo img
    {
        width: 172px;
    }


    .mob_header .contacts
    {
        margin-right: 0;
    }

    .mob_header .phone,
    .mob_header .messengers
    {
        font-size: 16px;
        line-height: 22px;
    }


    .mob_header .btns
    {
        width: 100%;
        margin-top: 16px;
        padding-top: 8px;

        border-top: 1px solid rgba(54,20,1,.2);

        justify-content: space-between;
    }

    .mob_header .btns > * + *
    {
        margin-left: 0;
    }

    .mob_header .mob_menu_btn
    {
        margin-left: 0;
    }

    .mob_header .btns .sep.mob_show
    {
        display: block;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head .data
    {
        padding-top: 24px;
    }


    .breadcrumbs
    {
        font-size: 13px;
        line-height: 19px;

        display: none;
    }

    .breadcrumbs .sep
    {
        margin: 0 6px;
    }


    .page_title
    {
        margin-top: 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: calc(var(--font_size_title_mini) + 6px);
    }

    .block_head .desc
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 16px;
    }


    .form .agree
    {
        font-size: 13px;
        line-height: 19px;
    }


    .form .bottom
    {
        padding-top: 8px;
    }

    .form .bottom .submit
    {
        width: 100%;
    }


    .form .bottom .agree
    {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;

        text-align: center;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 14px;
        line-height: 24px;
    }


    .text_block > *,
    .text_block .columns > *
    {
        margin-bottom: 20px;
    }


    .text_block h2
    {
        font-size: 22px;
        line-height: 26px;

        margin-bottom: 20px;
    }


    .text_block .table_wrap
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }

    .text_block table
    {
        width: 728px;
    }


    .text_block figure figcaption
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 12px;
    }


    .text_block blockquote,
    .text_block q
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }


    .text_block .columns
    {
        column-gap: 0;
        column-count: 1;
    }


    .text_block ul li:before
    {
        top: 8px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 24px 20px;
    }


    .action_form .data .info .title
    {
        font-size: 26px;
        line-height: 32px;
    }

    .action_form .data .info .desc
    {
        font-size: 14px;
        line-height: 20px;

        width: 280px;
        max-width: 100%;
    }



    /*-----------------
        Info blocks
    -----------------*/
    .info_blocks .grid
    {
        grid-gap: 40px;
    }


    .info_blocks .item .thumb
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .info_blocks .item .info
    {
        width: 100%;
    }

    .info_blocks .item .title
    {
        font-size: 22px;
        line-height: 26px;

        padding-bottom: 12px;
    }

    .info_blocks .item .desc
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 20px;
    }


    .info_blocks .item:nth-child(even) .info
    {
        order: 3;
    }



    /*-------------------
        Category head
    -------------------*/
    .category_head .category_name
    {
        line-height: calc(var(--font_size_title_mini) + 6px);
    }



    /*----------------
        Tags cloud
    ----------------*/
    .tags_cloud .slider_wrap
    {
        width: calc(100% + 64px);
        margin: 0 -32px;
        padding: 0 80px;
    }

    .tags_cloud .swiper-button-next,
    .tags_cloud .swiper-button-prev
    {
        transform: scale(.75);
    }


    .tags_cloud .tag a
    {
        font-size: 14px;
        line-height: 20px;

        padding: 8px 20px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .pagination
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .product .sticker
    {
        font-size: 10px;
        line-height: 12px;

        top: 8px;
        left: 8px;

        padding: 6px 12px;
    }

    .products .product .name
    {
        font-size: 16px;
        line-height: 20px;
    }

    .products .product .price
    {
        font-size: 20px;
        line-height: 24px;

        margin-top: 8px;
    }

    .products .product .btns .buy_btn,
    .products .product .btns .quike_buy_btn
    {
        font-size: 13px;
        line-height: 17px;

        letter-spacing: .05em;
    }



    .products .banner1
    {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .products .banner2
    {
        grid-row: 7 / 8;
        grid-column: 1 / 3;
    }

    .products .banner .info
    {
        padding: 24px 32px;
    }

    .products .banner .thumb
    {
        position: relative;

        padding-bottom: 100%;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .categories .row > *,
    .categories .row > *.big
    {
        width: calc(50% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }

    .categories .row > *.mob_full_w
    {
        width: calc(100% - 12px);
    }


    .categories .category .thumb,
    .categories .category.big .thumb
    {
        height: 172px;
    }

    .categories .category .info,
    .categories .category.big .info
    {
        padding: 16px 20px;
    }

    categories .category .name,
    .categories .category.big .name
    {
        font-size: 17px;
        line-height: 21px;
    }

    .categories .category .desc
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 12px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info table tr
    {
        min-height: 161px;
        padding: 20px 0 20px 140px;
    }


    .cart_info table td.thumb
    {
        width: 120px;
        min-width: 120px;
    }

    .cart_info table td.info .name
    {
        font-size: 16px;
        line-height: 22px;
    }

    .cart_info table td.info textarea
    {
        font-size: 14px;

        height: 60px;
        padding: 10px 16px;
    }

    .cart_info table td.price,
    .cart_info table td.amount
    {
        width: 50%;
    }


    .cart_info .back_link
    {
        display: none;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .data
    {
        padding: 24px;
    }


    .checkout_info .data .info .title
    {
        font-size: 26px;
        line-height: 32px;
    }

    .checkout_info .data .info .desc
    {
        font-size: 14px;
        line-height: 20px;
    }

    .checkout_info .data .info .login_btn
    {
        width: 100%;
        height: 55px;
        margin-top: 24px;
    }


    .checkout_info .data .type label
    {
        font-size: 16px;
        line-height: 22px;

        height: 56px;
    }

    .checkout_info .data .type label .icon
    {
        margin-right: 10px;
    }


    .checkout_info .data .bottom .agree
    {
        font-size: 15px;
        line-height: 21px;
    }


    .checkout_info .data .bottom .another_person_btn
    {
        font-size: 13px;
        line-height: 19px;

        height: auto;

        letter-spacing: .05em;
    }

    .checkout_info .data .bottom .another_person_btn span
    {
        padding: 8px 20px;
    }


    .checkout_info .data .bottom .form .title
    {
        font-size: 16px;
        line-height: 20px;

        text-align: center;
    }

    .checkout_info .data .bottom .form .line + .line
    {
        margin-top: 16px;
    }


    .checkout_info .delivery_info .block_title
    {
        font-size: 26px;
        line-height: 32px;
    }


    .checkout_info .delivery_info .methods
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .checkout_info .delivery_info .methods label
    {
        width: calc(50% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }

    .checkout_info .delivery_info .methods label
    {
        font-size: 15px;
        line-height: 21px;
    }


    .checkout_info .delivery_info .method_info .time
    {
        font-size: 15px;
        line-height: 19px;
    }


    .checkout_info .delivery_info .method_info .desc,
    .checkout_info .delivery_info .method_info .prices
    {
        font-size: 15px;
        line-height: 23px;

        margin-bottom: 32px;
    }


    .checkout_info .form .columns > *.width1of3,
    .checkout_info .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }



    .checkout_info .payment_info
    {
        padding: 24px;
    }

    .checkout_info .payment_info .block_title
    {
        font-size: 26px;
        line-height: 32px;
    }

    .checkout_info .payment_info .total_prices
    {
        font-size: 15px;
        line-height: 23px;

        margin-bottom: 24px;
    }

    .checkout_info .payment_info .total_price
    {
        font-size: 22px;
        line-height: 26px;
    }


    .checkout_info .payment_info .methods .field
    {
        margin-bottom: -16px;
        margin-left: 0;
    }

    .checkout_info .payment_info .methods label
    {
        font-size: 15px;
        line-height: 19px;

        width: 100%;
        height: 48px;
        margin-bottom: 16px;
        margin-left: 0;
    }


    .checkout_info .comment textarea
    {
        font-size: 15px;
        line-height: 21px;
    }


    .checkout_info .agree
    {
        font-size: 14px;
        line-height: 20px;

        text-align: center;
    }


    .checkout_info .submit .submit_btn
    {
        width: 100%;
        height: 60px;
    }

    .checkout_info .submit .agree
    {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }



    /*------------------------------------
        Cart checkout - Other products
    ------------------------------------*/
    .cart_checkout .other_products
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 40px 20px;
    }

    .cart_checkout .other_products .block_title
    {
        font-size: 25px;
        line-height: 29px;
    }


    .mob_other_products .row
    {
        margin-left: -20px !important;
    }

    .mob_other_products .row > *
    {
        width: calc(50% - 20px) !important;
        margin-left: 20px !important;
    }


    .cart_checkout .other_products .product .btns .buy_btn.full_w
    {
        font-size: 12px;
    }



    /*-----------------
        Constructor
    -----------------*/
    .constructor .category .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .constructor .category .row > *
    {
        width: calc(33.333% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .constructor .col_left .price
    {
        font-size: 30px;
        line-height: 36px;

        position: fixed;
        z-index: 90;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 12px 20px;

        background: var(--bg);
        box-shadow: 0 10px 20px rgb(74 27 0 / 30%);
    }


    .constructor .amount label
    {
        width: calc(33.333% - 10px);
    }


    .constructor .amount_colors label
    {
        width: calc(33.333% - 10px);
    }

    .constructor .amount_colors label span
    {
        margin-left: 12px;
    }


    .constructor .color label .img
    {
        width: 46px;
        height: 46px;
    }


    .constructor .options .vals label
    {
        width: calc(20% - 10px);
    }


    .constructor .buy .buy_btn
    {
        width: 220px;
        height: 60px;
    }


    .constructor .description
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 32px 20px;
    }


    .constructor .description .features .name
    {
        width: 220px;
    }

    .constructor .description .features .val
    {
        width: calc(100% - 220px);
    }



    /*-------------
        LK menu
    -------------*/
    .lk_menu a
    {
        font-size: 13px;
        line-height: 17px;

        padding: 12px 0;
    }



    /*----------------
        LK content
    ----------------*/
    .lk_content .block_title
    {
        font-size: 24px;
        line-height: 30px;

        margin-bottom: 20px;
    }


    .lk_info .personal .btns > *
    {
        width: calc(100% - 20px);
    }


    .lk_info .orders .titles
    {
        display: none;
    }


    .lk_info .orders .order .head
    {
        font-size: 15px;
        line-height: 21px;

        flex-wrap: wrap;
    }

    .lk_info .orders .col_number,
    .lk_info .orders .col_date,
    .lk_info .orders .col_status,
    .lk_info .orders .col_price
    {
        position: relative;

        width: 50%;
        padding-top: 22px;
    }

    .lk_info .orders .col_number:before,
    .lk_info .orders .col_date:before,
    .lk_info .orders .col_status:before,
    .lk_info .orders .col_price:before
    {
        color: var(--text_color);
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: attr(data-column);
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0;
        text-transform: none;

        opacity: .5;
    }

    .lk_info .orders .col_status,
    .lk_info .orders .col_price
    {
        margin-top: 16px;
    }


    .lk_info .orders .order .cart_info table tr:first-child
    {
        min-height: 140px;
    }

    .lk_info .orders .order .cart_info table td.thumb
    {
        width: 120px;
        min-width: 120px;
    }

    .lk_info .orders .order .cart_info table td.price,
    .lk_info .orders .order .cart_info table td.amount
    {
        width: 50%;
    }

    .lk_info .orders .order .cart_info table td.price.total
    {
        margin-top: 16px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .big
    {
        width: calc(100% - 92px);
    }

    .product_info .images .big .item
    {
        padding-bottom: 100%;
    }


    .product_info .images .thumbs
    {
        width: 80px;
    }

    .product_info .images .thumbs .slide .video_icon
    {
        transform: scale(.65);
    }


    .product_info .warning
    {
        margin-top: 24px;
        padding: 20px;
    }

    .product_info .warning br
    {
        display: none;
    }


    .product_info .socials a
    {
        width: 48px;
        height: 48px;
    }


    .product_info .product_name
    {
        font-size: 24px;
        line-height: 30px;
    }


    .product_info .product_price
    {
        font-size: 26px;
        line-height: 32px;

        margin-top: 16px;
    }

    .product_info .product_price .old
    {
        font-size: 17px;
        line-height: 27px;
    }


    .product_info .buy .buy_btn,
    .product_info .buy .quike_buy_btn
    {
        width: calc(100% - 188px);
        margin-left: auto;
    }

    .product_info .buy .quike_buy_btn
    {
        margin-top: 12px;
    }


    .product_info .size label,
    .product_info .size input[type=radio]:checked + label
    {
        font-size: 15px;
        line-height: 19px;

        padding: 16px 24px;
    }

    .product_info .size label .icon
    {
        display: none;
    }


    .product_info .size label .price
    {
        font-size: 17px;
        line-height: 21px;

        margin-left: 20px;
    }

    .product_info .size label .price .old
    {
        display: block;

        margin: 0;
    }


    .product_info .options .vals label
    {
        width: calc(20% - 10px);
    }


    .product_info .description
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 32px 20px;
    }



    .product_info .related_products .row > *
    {
        width: calc(100% - 10px);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        min-height: 400px;
        padding: 52px 20px;
    }


    .first_section .title
    {
        font-size: 46px;
    }

    .first_section .title .sep
    {
        width: 40px;
        height: 4px;
        margin: 6px 16px 0;
    }


    .first_section .link
    {
        width: 224px;
        height: 60px;
        margin-top: 28px;
    }



    /*----------------
        Info block
    ----------------*/
    .info_block .thumb + .info,
    .info_block .info
    {
        padding: 60px 24px 0;
    }


    .info_block .info .title
    {
        font-size: 26px;
        line-height: 32px;
    }

    .info_block .info .desc
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row > *
    {
        width: calc(50% - 20px);
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 20px;
    }


    .modal
    {
        width: 400px;
        padding: 40px;
    }

    .modal_title,
    .modal_title.big
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .modal .links
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 20px;
    }


    #video_modal video
    {
        width: calc(100vw - 64px);
    }
}
